<a href="https://colab.research.google.com/github/mikdybwed/daily-life-projects/blob/master/Oslo_bysykkel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import ipywidgets as widgets
import json
import urllib.request, urllib.response

In [0]:
#Function for connecting to and retrieving json data
def get_json(url):
  with urllib.request.urlopen(url) as response:
    return json.load(response)

In [0]:
station_status = get_json("https://gbfs.urbansharing.com/oslobysykkel.no/station_status.json")
station_availability = get_json("https://gbfs.urbansharing.com/oslobysykkel.no/station_information.json")

In [0]:
status = pd.DataFrame(station_status["data"]["stations"])
availability = pd.DataFrame(station_availability["data"]["stations"])

In [0]:
test = pd.merge(status, availability, on="station_id")
test = test.filter(["name","num_bikes_available", "num_docks_available"])
test.set_index("name")
test.index.name = None

In [0]:
test.index.name

In [34]:
test

                           name  num_bikes_available  num_docks_available
0             Stortingstunellen                    5                   16
1    Professor Aschehougs plass                    5                    1
2                   Borgenveien                    4                    4
3                    Enerhaugen                    0                   23
4                  Kirkegata 15                    7                    0
..                          ...                  ...                  ...
241            Lodalen busstopp                    0                   11
242           Botanisk Hage sør                    0                   28
243                Nylandsveien                   11                   15
244                Hallénparken                    0                    8
245             Sommerfrydhagen                    0                   19

[246 rows x 3 columns]